@font-face {
	font-family: "Bodoni SvtyTwo SC ITC TT Book";
	src: url("../fonts/Bodoni\ SvtyTwo\ SC\ ITC\ TT\ Book.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans', sans-serif";
	src: url("../fonts/OpenSans-Light.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Gilda Display", serif;
	src: url("../fonts/GildaDisplay-Regular.ttf");
	font-weight: normal;
}
