@import "_variables";
@import "_mixins";
@import "_extends";
@import "_fonts";
@import "our-room-media";

.our-rooms {
	padding-top: 125px;

	.our-rooms__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 72px;
		font-family: $heroAreatitleFont;
		color: $ourroomTitlecolor;
	}

	.container {
		max-width: 1170px;
		margin: 0 auto;
	}

	.our-rooms__slider-wrap {
		padding-top: 85px;

		.sliders {
			display: none;
			overflow: hidden;
		}

		.sliders__item {
			position: relative;
			text-transform: uppercase;
			padding: 8px;
			cursor: pointer;

			&:hover img {
				transition: transform 0.5s ease-in;
				transform: scale(1.2);
			}

			.slider__item-image {
				width: 100%;
				height: 100%;
				overflow: hidden;

				img {
					display: block;
					overflow: hidden;
					width: 100%;
					height: 100%;
					transition: transform 0.5s ease-out;
				}
			}

			a {
				display: block;
				background-color: $ourroomButtoncolor;
				color: $ourroomBtntitleColor;
				font-family: $ourroomFont;
				font-size: 16px;
				padding: 10px;
				position: absolute;
				top: 52%;
				left: 7%;
			}

			span {
				color: $ourroomBtntitleColor;
				font-family: $ourroomFont;
				font-size: 16px;
				text-align: center;
				position: absolute;
				top: 80%;
				left: 10%;
			}
		}
	}
}
