// BLOCK TITLE COLOR

$blockTitlecolor: #686868;

// HEADER BLOCK

$headerTitlecolor: #c19b76;
$headerTitlefont: "Bodoni SvtyTwo SC ITC TT Book";
$burgerTextfont: "Open Sans", sans-serif;

// MAIN BLOCK

$heroAreatitleFont: "Gilda Display", serif;
$heroAreatitleColor: #ffffff;
$heroAreaexploreColor: #8e8e8e;
$heroAreaexploreFont: "Open Sans", sans-serif;
$heroAreacheckColor: #0e6fb3;
$heroAreacheckTitleolor: #ffffff;
$heroAreanumbersColor: #939393;

// OUR-ROOM SECTION
$ourroomTitlecolor: #686868;
$ourroomButtoncolor: #c19b76;
$ourroomBtntitleColor: #ffffff;
$ourroomFont: "Open Sans", sans-serif;

// EXPLORE SECTION

$exploreBgcolor: #edf2f7;
$exploreSubtitlecolor: #7d7d7d;

// SERVICES SECTION

$servicestitleFont: "Gilda Display", serif;
$servicestextcolor: #b8b8b8;

// FIND-BEST SECTION

$findbestBgcolor: #0e6fb3;
$findbestTextcolor: #ffffff;
$findbesttitleFont: "Gilda Display", serif;
$findbestBtncolor: #8e8e8e;

// AVA_BLOCK
$sliderTextcolor: #7d7d7d;
$sliderTextfont: "Open Sans", sans-serif;

// VIDEO_BLOCK

$videoTitlecolor: #ffffff;
$videoTitleFont: "Gilda Display", serif;

// NEWS BLOCK

$newsTitleFont: "Gilda Display", serif;
$newsTextfont: "Open Sans", sans-serif;
$newsSubtitlecolor: #a2a2a2;
$newsTextcolor: #7d7d7d;

// FOOTER BLOCK

$footerBgcolor: #454545;
$footerTextcolor: #cfcfcf;
$footerTitleFont: "Gilda Display", serif;
